{% extends "base.html" %}

{%block head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      
      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);
      
      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Sentiment');
      data.addColumn('number', 'per');
      data.addRows([
        ['Positive', {{stats.pos}}],
        ['Neutral', {{stats.neu}}],
        ['Negative', {{stats.neg}}], 
      ]);

      // Set chart options
      var options = {'title':'Sentiment Chart of {{ user.name }}',
                     'width':400,
                     'height':200,
		     'colors':['#C2F233',"#F2F22E","#F2662E"]};

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('ana_chart'));
      chart.draw(data, options);
    }
    </script>

{% endblock %}

{% block body %}
<div id="app_header">
<div id="profile_pic">
<img src="https://graph.facebook.com/{{ user.user_id }}/picture?type=large" alt="{{user.name}} profile pic" />
</div>
<div id="ana_chart">

</div>
<div class="clear"></div>
</div>
<div id="app_friends">
	<div id="active_friends">
	<p>Active Wall Users</p>
	{% for a in recent %}
		<a href="http://www.facebook.com/profile.php?id={{a}}"><img src="https://graph.facebook.com/{{a}}/picture" alt="{{a}}"/></a>
	{% endfor %}
	</div>

	<div id="inactive_friends">
	<p>Inactive Users</p>
	{% for i in inactive %}
		<a href="http://www.facebook.com/profile.php?id={{i}}"><img src="https://graph.facebook.com/{{i}}/picture" alt="{{i}}"/></a>
	{% endfor %}
	</div>
</div>


{% endblock %}
