{% extends 'main.html' %}
{% block content%}
<div id="about">
<p class="heading"> About</p>
<p class="para">
Facebook Sentiment Analysis (FBSentiment) is an Experimental Application, Which allows you to analyze the sentiment of Business/Brand/Product/Fan Pages on Facebook.
</p>
<p class="para">
	<b>Inspiration:</b>
	<ul class="para">
		<li><a href="http://twitgraph.appspot.com/">TwitGraph</a> by Ran Tavory</li>
		<li><a href="http://twittersentiment.appspot.com/">Twitter Sentiment</a> by Alec Go, Richa Bhayani, and Lei Huang</li>
	</ul>
</p>
<p class="para">
	<b>Reference:</b>
	<ul class="para">
		<li><a href="http://www.cs.cornell.edu/home/llee/opinion-mining-sentiment-analysis-survey.html">Opinion mining and sentiment analysis</a></li>
		<li><a href="http://cs.wmich.edu/~tllake/fileshare/tllake.twittersentiment.pdf">Twitter Sentiment Analysis</a></li>
	</ul>
</p>

<p class="para">
Please submit your Feedback/Questions <a href="https://docs.google.com/spreadsheet/viewform?formkey=dE5HR3FYcnJ1ZXRyTmRBVzRIbmc4RGc6MQ">here</a>
</p>
</div>
{% endblock %}
