<div id="fnav">
</div>
<div id="power">
	<img src="/style/india.png" alt="Powered by India. My India, My Pride" />
	<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
	<img src="http://www.python.org/community/logos/python-powered-w-70x28.png" alt="Python Powered"/>
	<img src="http://media.djangoproject.com/img/badges/djangoproject120x25.gif" border="0" alt="A Django project." title="A Django project." />
	<br />
	&copy; 2011 fbsentiment. All rights reserved.	
	
</div>
<div>
</div>

<div class="clear"></div>

