<div id="login">{{ greeting }} <a href="{{ l_url }}">{{url_linktext}}</a>&nbsp;</div>
<div id="social">
	<a href="http://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<iframe src="http://www.facebook.com/plugins/like.php?app_id=246861542011855&amp;href=http%3A%2F%2Ffbsentiment.appspot.com%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:20px;" allowTransparency="true"></iframe>
	<g:plusone size="medium"></g:plusone>
<!-- Place this tag after the last plusone tag -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</div>

<div id="logo" >The Facebook Sentiment Analysis Project</div>
<div class="clear"></div>
<div id="menu"> 
	                <ul id="nav">
						<li><a href="/">Home</a></li> 
	                	<li><a href="/search">Pages</a></li> 
						<li><a href="/you">You</a></li> 
	                	<li><a href="/about">About</a></li>
	                </ul> 
                </div> 

