<html> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
	<META NAME="Keywords" CONTENT="facebook,sentiment analysis,facebook sentiment,facebook sentiment analysis,pages,sentiment,analysis,facebook business,search facebook,tweet,business,search,project">
        <title>Facebook Sentiment Analysis</title> 
        <link rel="stylesheet" href="/style/style.css"  type="text/css"/> 
        <script src="https://www.google.com/jsapi?key=ABQIAAAAaCHlcWA-1yWSPrZLcbUTqhQCC1IYUAN_JrKoKe74TlWV6HWAGBQOUPzG-YtUniGK0ZEwNEbFtatjew" type="text/javascript"></script>
        <script language="Javascript" type="text/javascript">
      google.load("jquery", "1.6.2");
    </script>
        {% block head%} {% endblock %}
    </head> 
    <body> 
        <center> 
            <div id="main"> 
                <div id="header">
                {% include 'header.html'%} 
                </div>
                <div id="content">
                {% block content %}
                
                {% endblock %}
                </div>
                <div id="sidebar">

                </div>
                <div class="clear"></div>
                <div id="footer"> 
		{% include 'footer.html'%}                
                </div> 

            </div> 
        </center> 
    </body> 
</html> 
